/***** Category pages *****/
.breadcrumbs-container {
  padding: 12px 0;
  margin-bottom: 30px;
  background-color: $secondary-shade;
}

.category {
  &-container {
    display: flex;
    justify-content: flex-end;
  }

  &-content {
    @include desktop {
      flex: 0 0 100%;
    }

    flex: 1;
  }
}

.section-tree {
  @include tablet { flex-direction: row; }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  .section {
    @include tablet { flex: 0 0 45%; /* Two columns for tablet and desktop. Leaving 5% separation between columns */ }
    flex: initial;
  }

  &-title {
    font-family: $text_font_medium;
    font-weight: $font-weight-semibold;
    font-size: 18px;

    a { color: $text_color; }
  }

  .see-all-articles {
    display: block;
    padding: 15px 0;
  }
}

.article-list {
  &-item {
    font-size: $font-size-bigger;
    padding: 15px 0;

    a {
      color: $text_color;
      &:hover,
      &:focus,
      &:active {
        color: $hover-link-color;
      }
    }
  }
}

.icon-star {
  color: $brand_color;
  font-size: 18px;
}
