/***** Footer *****/
.footer {
  margin-top: 60px;
  padding: 30px 0;
  background-color: $brand_color;
  color: $brand_text_color;
  font-size: $font-size-small;

  &-inner {
    @include mobile {
      flex-direction: column-reverse;
      align-items: stretch;
    }
    @include max-width-container;
    position: relative;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
  }

  &-language-selector button {
    color: $secondary-text-color;
    display: inline-block;
  }

  &-social {
    display: flex;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 5px;
    & a {
      display: block;
      padding: 10px;
    }

    & svg {
      width: 16px;
      height: 16px;
      & path {
        fill: #ffffff;
      }
    }
  }

  &-language {
    @include mobile {
      margin-bottom: 30px;
    }
    display: flex;
    align-items: baseline;
    margin-left: -5px;
    margin-right: -5px;
    & li {
      display: block;
      padding: 5px;
    }
  }
}
